<!DOCTYPE html>
<html>

<head>
<title>Chess</title>
<meta charset="UTF-8"/>
<link href="styles.css" rel="stylesheet" type="text/css" />
<link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
</head>

<body>
<div id="box" />
<header>
<h1>Chess Rules</h1>
<h3></h3>
</header>
<section>
	<article>
		<p>The player controlling the white pieces is named "White"; the player controlling the black pieces is named "Black". White moves first, then players alternate moves. Making a move is required; it is not legal to skip a move, even when having to move is detrimental. Play continues until a king is checkmated, a player resigns, or a draw is declared. </p>

		<p>The official chess rules do not include a procedure for determining who plays White. In the case of non-competitive play, this decision is made by mutual agreement, in which case some kind of random choice is often employed.</p>
	</article>
	
	<article style="text-align:center;"><a href="index.html" title="Go Home">
	<img src="images/homebutton.png" alt="Home Button" /></a>
	</article>
	
	
</section>

<footer>

</footer>

</body>

</html>
